:root {
  --color-background-primary:   #0000;
  --color-background-secondary: #0000;
  --color-background-tertiary:  #0000;
  --color-text-primary:         #404345;
  --color-text-secondary:       #6b8299;
  --color-border-primary:       #2a3f55;
  --color-border-secondary:     #2a3f55;
  --color-border-tertiary:      #1e304844;
  --border-radius-lg:           12px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
